<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registra tu negocio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- style="background:#eee" -->
  <!-- <div style="color:#555">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, nostrum placeat ex autem, quibusdam itaque
    maiores?
  </div> -->

  <div style="color:#555">
    Somos una aplicación que te contecta con una moto o bicicleta y su conductor capacitado en 5 minutos para
    <span style="font-weight:600;">
      trasladar lo que quieras
    </span>
    en Santiago, Coquimbo y La Serena.
  </div>

  <div style="color:#555;margin-top:15px">
    Solicita un Rider en nuestra app y llevaremos tus productos en
    <span style="font-weight:600;">
      30min o menos.
    </span>
  </div>

  <div style="color:#555;margin-top:15px">
    Si te parece una excelente idea no dudes en contactarnos, en MoviApp no somos excluyentes, trabajamos con todo tipo
    de
    <span style="font-weight:600;">
      comercios, grandes, pequeños, electrónicos, de alimentos
    </span>
    y más. Somos el aliado que necesitas ¡Ingresa los datos
    ahora y en poco tiempo nos pondremos en contacto!
  </div>

  <div style="height:25px;width:100%"></div>

  <ion-item color="light">
    <ion-input placeholder="Tu nombre">
    </ion-input>
  </ion-item>

  <div style="height:15px;width:100%"></div>

  <!-- <ion-item color="light">
    <ion-input placeholder="Tu negocio">
    </ion-input>
  </ion-item> -->

  <ion-item color="light">
    <ion-input placeholder="Telefono de contacto">
    </ion-input>
  </ion-item>


  <div style="height:15px;width:100%"></div>

  <ion-item color="light">
    <ion-label>Ciudad</ion-label>
    <ion-select placeholder="Seleccionar">
      <ion-select-option value="f">Santiago</ion-select-option>
      <ion-select-option value="m">La Serena</ion-select-option>
      <ion-select-option value="m">Coquimbo</ion-select-option>
    </ion-select>
  </ion-item>

  <div style="height:50px;width:100%"></div>

</ion-content>

<ion-footer padding>

  <ion-button color="dark" expand="block">
    Solicitar cuenta gratis
  </ion-button>

</ion-footer>