<div style="height:100%;width:100%;background: #fff;padding:25px">

  <div style="font-size:30px;color:#555;font-weight:550">
    Nueva versión
  </div>

  <div style="font-size:18px;color:#777;font-weight:500">
    Por favor actualiza la app para poder seguir usandola
  </div>

  <div style="margin-top:40%;display:flex;justify-content:center">
    <img src="assets/update.svg" style="width:100px">
  </div>

  <!-- <div style="text-align:center;color:#999;font-size:16px;">
    Version 1.7.5 disponible
  </div> -->

  <div (click)="onActualizar()" style="margin-top:20px;display:flex;justify-content:center;">
    <ion-button fill="outline" color="medium">
      Actualizar
    </ion-button>
  </div>

</div>