<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div style="font-size:20px;color:#555;font-weight:550">
    Crea un perfil de usuario
  </div>

  <div style="height:30px;width:100%"></div>

  <ion-input type="email" [(ngModel)]="email" placeholder="Email" style="border-bottom:1px solid #ccc;font-size:17.5px">
  </ion-input>

  <div style="height:10px;width:100%"></div>

  <div style="display:flex;justify-content:space-between">
    <div style="width:45%">
      <ion-input type="text" [(ngModel)]="nombre" placeholder="Nombre"
        style="text-transform:capitalize;border-bottom:1px solid #ccc;font-size:17.5px"></ion-input>
    </div>
    <div style="width:45%">
      <ion-input type="text" [(ngModel)]="apellido" placeholder="Apellido"
        style="text-transform:capitalize;border-bottom:1px solid #ccc;font-size:17.5px">
      </ion-input>
    </div>
  </div>

</ion-content>

<ion-footer no-border>
  <div style="font-size:14px;width:100%;text-align:center;color:#444">
    Al registrarte aceptas los Términos y Condiciones
  </div>
  <div padding>
    <ion-button [disabled]="isLoading" (click)="createAccount()" mode="ios" expand="block" color="secondary">
        <div style="font-size:20px;font-weight:600">
            Continuar
      </div>
    </ion-button>
  </div>
</ion-footer>