<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div padding style="font-size:20px;color:#555;font-weight:550">
    Crea un perfil de usuario
  </div>

  <div style="height:30px;width:100%"></div>

  <div style="margin:15px;border:1px solid #eee;border-radius:6px;padding:5px;display:flex;align-items:center;">
    <ion-input type="text" [(ngModel)]="nombre" placeholder="Nombre"></ion-input>
  </div>

  <div style="margin:15px;border:1px solid #eee;border-radius:6px;padding:5px;display:flex;align-items:center;">
    <ion-input [type]="passwordType" [(ngModel)]="password" placeholder="Contraseña"></ion-input>
  </div>

  <div style="margin-right:20px;text-align:right;color:#888;font-weight:600">
    <span (click)="togglePass()">Mostrar</span>
  </div>

  <div padding style="margin-top:20px;width:100%;display:flex;justify-content:flex-end">
    <ion-icon (click)="next()" name="ios-arrow-dropright-circle" style="color:#0cd1e8;font-size:55px"></ion-icon>
  </div>

</ion-content>