<ion-content>
  <div style="width:100%;height:100%;position:relative;">
    <div id='map2'></div>
    <div style="position:absolute;top:40%;left:44%">
      <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1565228910/tools/pin_motocicleta.png"
        style="width:40px">
    </div>
  </div>
</ion-content>

<div style="z-index:990;position:fixed;top:10px;left:10px">
  <div (click)="back()"
    style="background:white;height:35px;width:35px;display:flex;align-items:center;justify-content:center;border-radius:50%;box-shadow: 0 0 20px #e2e2e2;">
    <ion-icon name="arrow-round-back" style="color:#555;font-size:18px"></ion-icon>
  </div>
</div>

<div style="z-index:990;position:fixed;bottom:190px;right:10px">
  <div (click)="getMyLocation()"
    style="background:white;border-radius:50%;box-shadow: 0 0 20px #bbb;height:45px;width:45px;display:flex;align-items:center;justify-content:center">
    <ion-icon name="locate" style="font-size:24px;color:#777"></ion-icon>
  </div>
</div>


<ion-footer padding style="background:#fff">

  <div style="font-size:18px;color:#444;font-weight:500">
    Confirmar lugar de recogida
  </div>

  <div style="width:100%;border-top:1px solid #eee;margin-top:15px;margin-bottom:15px"></div>

  <div>
    <div style="width:100%;font-size:17.5px;display:flex;align-items:center">
      <div style="border-radius:50%;height:7px;width:7px;background:#9EDF1F;margin-right:15px"></div>
      <div style="color:#666;height:20px;overflow:hidden;width:90%">
        {{position.address}}
        <!-- {{ (texto_destino.length>25)? (texto_destino | slice:0:30)+'..':(texto_destino) }} -->
      </div>
    </div>
  </div>
  <div style="margin-top:15px;width:100%;display:flex;justify-content:center">
    <ion-button (click)="save()" color="secondary" mode="ios">
      <ion-icon slot="start" name="pin"></ion-icon>
      <div style="font-weight:600;text-transform:uppercase">
        Fijar {{_control.tipo}}
      </div>
    </ion-button>
  </div>

</ion-footer>