<ion-content>
  <div style="width:100%;height:100%;position:relative;">
    <div id='map2'></div>
    <div style="position:absolute;top:39%;left:43%">
      <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1565228910/tools/pin_motocicleta.png"
        style="width:50px">
    </div>
  </div>
</ion-content>

<div style="z-index:990;position:fixed;top:20px;left:15px">
  <div (click)="back()"
    style="background:white;height:38px;width:38px;display:flex;align-items:center;justify-content:center;border-radius:10px;box-shadow: 0 0 20px #ccc;">
    <ion-icon name="arrow-round-back" style="color:#444;font-size:22px"></ion-icon>
  </div>
</div>

<div style="z-index:990;position:fixed;bottom:205px;right:15px">
  <div (click)="getMyLocation()"
    style="background:white;border-radius:50%;height:45px;width:45px;display:flex;align-items:center;justify-content:center;box-shadow: 0 0 20px #ccc">
    <ion-icon name="locate" style="font-size:24px;color:#444"></ion-icon>
  </div>
</div>


<ion-footer padding style="background:#fff">

  <div style="font-size:18px;color:#444;font-weight:500">
    Confirmar lugar de
    <span *ngIf="_control.tipo == 'origen'">recogida</span>
    <span *ngIf="_control.tipo == 'destino'">entrega</span>
  </div>

  <div style="width:100%;border-top:1px solid #eee;margin-top:15px;margin-bottom:15px"></div>

  <div style="margin-bottom:20px">
    <div style="width:100%;font-size:17.5px;display:flex;align-items:center">
      <div style="border-radius:50%;height:7px;width:7px;background:#9EDF1F;margin-right:15px"></div>
      <div style="color:#666;height:22px;overflow:hidden;width:90%">
        {{position.address}}
        <!-- {{ (texto_destino.length>25)? (texto_destino | slice:0:30)+'..':(texto_destino) }} -->
      </div>
    </div>
  </div>
  <!-- <div style="margin-top:15px;width:100%;display:flex;justify-content:center"> -->
  <ion-button (click)="save()" color="secondary" mode="ios" expand="block">
    <ion-icon slot="start" name="pin"></ion-icon>
    <div style="font-weight:600;text-transform:uppercase;font-size:17px">
      Confirmar
      <!-- Fijar {{_control.tipo}} -->
    </div>
  </ion-button>
  <!-- </div> -->

</ion-footer>