<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="arrow-round-back" style="color:#444;font-size:27px"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{tipo}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item *ngIf="tipo == 'Nombre'">
    <ion-input [placeholder]="input" style="font-size:18px" [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item *ngIf="tipo == 'Email'">
    <ion-input [placeholder]="input" style="font-size:18px" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item *ngIf="tipo == 'Contraseña'">
    <ion-input placeholder="Nueva contraseña" style="font-size:18px" [(ngModel)]="newPassword"></ion-input>
  </ion-item>

  <ion-item *ngIf="tipo == 'Contraseña'" style="margin-top:20px">
    <ion-input placeholder="Clave actual" style="font-size:18px" [(ngModel)]="oldPassword"></ion-input>
  </ion-item>

  <div *ngIf="error_password" style="color:red;margin-top:10px">
    Contraseña incorrecta
  </div>

</ion-content>

<ion-footer no-border>
  <div *ngIf="!isLoading" (click)="guardarCambios()"
    style="width:100%;background:#9EDF1F;text-align:center;padding:12px;font-weight:500;text-transform:uppercase;font-size:15px;color:white">
    Guardar cambios
  </div>
  <div *ngIf="isLoading"
    style="width:100%;background:rgba(158, 223, 31, 0.5);text-align:center;padding:12px;font-weight:500;text-transform:uppercase;font-size:15px;color:white">
    Actualizando...
  </div>
</ion-footer>