<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración de cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="background:whitesmoke;height:100%;width:100%">


    <div style="background:white;width:100%;margin-top:50px;display:flex;align-items:center;justify-content:center">
      <div>
        <div style="width:100%;text-align:center">
          <img src="assets/user.jpg" style="width:80px;height:80px;border-radius:50%;object-fit:cover">

        </div>
        <div style="width:100%;text-align:center;margin-top:5px;font-weight:500">
          Oscar Garcia Fuentes
        </div>

        <div style="width:100%;text-align:center;margin-bottom:20px">
          <div
            style="margin-top:10px;display:inline-block;background:springgreen;border-radius:10px;padding:3px;padding-left:10px;padding-right:10px;font-size:13px;color:white;font-weight:600">
            VIP
          </div>
        </div>

      </div>

    </div>

    <div style="height:10px;width:100%;"></div>

    <ion-list>
      <ion-item lines="none">
        <ion-label style="color:#999">
          Teléfono
        </ion-label>
        <div slot="end">
          +56 9 76812202
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-label style="color:#999">
          Email
        </ion-label>
        <div slot="end">
          poimsm@gmail.com
        </div>
      </ion-item>
    </ion-list>

    <div style="height:10px;width:100%;"></div>

    <ion-list>
      <ion-item lines="none">
        <ion-label style="color:#999">
          Cerrar sesión
        </ion-label>
      </ion-item>
    </ion-list>
  </div>


</ion-content>