<ion-content>

  <div style="padding:20px">
    <div style="width:100%;display:flex;justify-content:center">
      <img *ngIf="alternativo == 'moto'" src="assets/moto.svg" style="height:60px;width:60px">
      <img *ngIf="alternativo == 'bicicleta'" src="assets/bici.svg" style="height:60px;width:60px">
      <img *ngIf="alternativo == 'auto'" src="assets/auto.svg" style="height:60px;width:60px">
    </div>

    <div style="width:100%;margin-top:10px;font-size:18px;color:#444">
      No encontramos
      <span style="text-transform:capitalize"> {{vehiculo}}. </span>
      ¿Te sirve
      <span *ngIf="alternativo == 'auto'" style="text-transform:capitalize">
        un {{alternativo}}?
      </span>
      <span *ngIf="alternativo != 'auto'" style="text-transform:capitalize">
        una {{alternativo}}?
      </span>
    </div>

    <div style="height:20px;width:100%"></div>

    <div style="height:20px;width:100%"></div>

    <div style="width:100%;display:flex;justify-content:flex-end;font-size:15px;color:#3880ff">
      <div (click)="onCancelar()" style="margin-right:25px">
        CANCELAR
      </div>
      <div (click)="onAceptar()">
        OK
      </div>
    </div>

  </div>

</ion-content>