<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Verificación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div padding style="font-size:20px;color:#555;font-weight:550">
    Ingresa el código
  </div>

  <div style="height:20px;width:100%"></div>


  <div style="width:100%;display:flex;justify-content:center">
    <div style="width:170px">
      <ion-item>
        <ion-input type="tel" maxlength="4" [(ngModel)]="codigo" (ionChange)="checkCode()"
          style="text-align:center;font-size:20px" placeholder=""></ion-input>
      </ion-item>
    </div>
  </div>


  <div style="padding:16px;padding-bottom:0px;width:100%;text-align:center;color:#888">
    <!-- Te hemos enviado un código de verificación enviado a +5696372717. -->
    <!-- Código de verificación enviado a +56{{_auth.telefono}}. -->
    Un código de verificación ha sido enviado a +56{{_auth.telefono}}.
  </div>



  <div (click)="reenviar()" *ngIf="counter == 0" style="margin-top:10px;width:100%;text-align:center;">
    <span style="color:#0cd1e8">Reenviar</span>
  </div>


  <div *ngIf="counter > 0" style="margin-top:10px;width:100%;text-align:center;color:#888">
    Reenviando SMS en
    <span style="color:#0cd1e8">
      {{textTime}}
    </span>
  </div>

</ion-content>


<div *ngIf="isLoading"
  style="z-index:999;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:center;justify-content:center;background:rgb(34, 34, 34, 0.5)">
  <div
    style="box-shadow: 0 0 20px rgba(68, 68, 68, 0.75);padding:30px;padding-top:20px;padding-bottom:20px;width:80%;border-radius:3px;background:white;">
    <div style="width:100%;display:flex;align-items:center">
      <ion-spinner color="secondary"></ion-spinner>
      <div style="margin-left:20px;font-size:17px;margin-right:10px">
        Cargando...
      </div>
    </div>
  </div>
</div>