<ion-content>

  <div style="height:10vh;width:100%"></div>


  <div style="margin-bottom:30px;width:100%;display:flex;justify-content:center">
    <img
      [src]="'https://res.cloudinary.com/ddon9fx1n/image/upload/v1573426152/tools/Moviapp_logotipo_Mesa_de_trabajo_1.png'"
      style="width:50%">
  </div>


  <div *ngIf="signUpUsuario" style="width:100%">

    <div style="margin:15px;border:1px solid #eee;border-radius:6px;padding:5px;display:flex;align-items:center;">
      <div style="padding:4px;margin-right:5px;font-size:17px;display:flex;align-items:center">
          <ion-icon name="call" style="color:#bbb;margin-right:5px;font-size:20px"></ion-icon>
        +56
      </div>
      <ion-input type="tel" [(ngModel)]="telefono" placeholder="Número de teléfono" style="font-size:17px"></ion-input>
    </div>

    <div *ngIf="err_9_digitos_telefono" style="padding-left:15px;color:red">
      Deben ser 9 digitos
    </div>

    <div *ngIf="err_num_telefono" style="padding-left:15px;color:red">
      Solo deben ser números
    </div>

    <div *ngIf="err_telefono_en_uso" style="padding-left:15px;color:red">
      Este teléfono ya está registrado
    </div>

    <div style="color:#888;margin:15px">
      Te enviaremos un mensaje de texto para verificar
    </div>

    <ion-item style="margin-top: 10px">
      <ion-toggle (ionChange)="togglePoliticas()" color="secondary" slot="start"></ion-toggle>
      <div style="color:#666">
        Acepto <span style="color:#9EDF1F;font-weight:500" (click)="openPoliticasModal()">política de privacidad</span>
        de Moviapp
      </div>
    </ion-item>

    <div padding style="margin-top:20px">
      <ion-button [disabled]="isLoading" (click)="next()" mode="ios" expand="block" color="secondary">
          <div style="font-size:20px;font-weight:600">
              Continuar
        </div>
      </ion-button>
    </div>

  </div>

</ion-content>