<ion-content>

  <div style="height:10vh;width:100%"></div>


  <div style="width:100%;display:flex;justify-content:center">
    <div>
      <img src="assets/bicycle.png" style="width:110px">
      <div style="width:100%;text-align:center;color:#555;font-size:20px">
        Moviup
      </div>
    </div>
  </div>


  <div *ngIf="signUpUsuario" style="width:100%">

    <div style="margin:15px;border:1px solid #eee;border-radius:6px;padding:5px;display:flex;align-items:center;">
      <div style="background:#eee;color:#666;padding:4px;margin-right:5px">
        +56 9
      </div>
      <ion-input type="tel" [(ngModel)]="telefono" placeholder="Teléfono"></ion-input>
    </div>

    <div *ngIf="err_8_digitos_telefono" style="padding-left:15px;color:red">
      Deben ser 8 digitos
    </div>

    <div *ngIf="err_num_telefono" style="padding-left:15px;color:red">
      Solo deben ser números
    </div>

    <div *ngIf="err_telefono_en_uso" style="padding-left:15px;color:red">
      Este teléfono ya está registrado
    </div>

    <div style="color:#888;margin:15px">
      Te enviaremos un mensaje de texto para verificar
    </div>

    <ion-item style="margin-top: 10px">
      <ion-toggle (ionChange)="togglePoliticas()" color="secondary" slot="start"></ion-toggle>
      <div style="color:#666">
        Acepto <span style="color:#24d6ea;font-weight:500" (click)="openPoliticasModal()">política de privacidad</span>
        de Moviup
      </div>
    </ion-item>

    <div padding style="margin-top:20px">
      <ion-button [disabled]="isLoading" (click)="next()" mode="ios" expand="block" color="secondary">
        <div style="font-size:20px;font-weight:600">
          Continuar
        </div>
      </ion-button>
    </div>

    <div padding style="color:#666;width:100%;text-align:center">
      ¿Ya tienes una cuenta? <span (click)="changeLogin('login in')" style="color:#24d6ea;font-weight:500">Ingresa
        acá</span>
    </div>

  </div>


  <div *ngIf="signInUsuario" style="width:100%">

    <div style="color:#888;margin-left:15px;margin-top:25px;font-size:18px">
      Ingresa número de teléfono
    </div>
    <div
      style="margin:15px;margin-top:5px;border:1px solid #eee;border-radius:6px;padding:5px;display:flex;align-items:center;">
      <div style="background:#eee;color:#666;padding:4px;margin-right:5px">
        +56 9
      </div>
      <ion-input type="tel" [(ngModel)]="telefono" placeholder=""></ion-input>
    </div>

    <div *ngIf="err_8_digitos_telefono" style="padding-left:15px;color:red">
      Deben ser 8 digitos
    </div>

    <div *ngIf="err_num_telefono" style="padding-left:15px;color:red">
      Solo deben ser números
    </div>

    <div style="color:#888;margin-left:15px;margin-top:25px;font-size:18px">
      Por favor ingresa tu contraseña
    </div>

    <div
      style="margin:15px;margin-top:5px;border:1px solid #eee;border-radius:6px;padding:5px;display:flex;align-items:center;">
      <ion-input [type]="passwordType" [(ngModel)]="password" placeholder=""></ion-input>
      <ion-icon (click)="showHidePassword()" *ngIf="passwordType == 'password'" name="eye"
        style="color:#999;font-size:26px"></ion-icon>
      <ion-icon (click)="showHidePassword()" *ngIf="passwordType == 'text'" name="eye-off"
        style="color:#999;font-size:26px"></ion-icon>
    </div>

    <div *ngIf="err_password" style="padding-left:15px;color:red">
      Teléfono o contraseña incorrectos
    </div>

    <div *ngIf="err_cuenta_desactivada" style="padding-left:15px;color:red">
      La cuenta está desactivada
    </div>

    <div padding>
      <ion-button [disabled]="isLoading" (click)="loginUsuario()" mode="ios" expand="block" color="secondary">
        <div style="font-size:20px;font-weight:600">
          Ingresar
        </div>
      </ion-button>
    </div>

    <div padding style="color:#666;width:100%;text-align:center">
      ¿Aún no tienes una cuenta? <span (click)="changeLogin('login up')"
        style="color:#24d6ea;font-weight:500">Registrate acá</span>
    </div>

  </div>




</ion-content>



<!-- <div *ngIf="isLoading"
  style="z-index:999;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:center;justify-content:center;background:rgb(34, 34, 34, 0.5)">
  <div
    style="box-shadow: 0 0 20px rgba(68, 68, 68, 0.75);padding:20px;padding-left:30px;padding-right:30px;border-radius:3px;background:white;">
    <div style="text-align:center">
      <ion-spinner color="secondary"></ion-spinner>
      <div style="margin-top:10px;font-size:17.5px;">
        Cargando
      </div>
    </div>
  </div>
</div> -->