<ion-app>
  <ion-router-outlet main></ion-router-outlet>


  <ion-menu side="start" menuId="first">
    <ion-content>

      <div style="padding-top:20px;padding-bottom:20px;border-bottom:1px solid #eee">

        <ion-item (click)="openPage('usuario')" lines="none">
          <!-- <ion-icon slot="start" name="pin"></ion-icon> -->
          <img slot="start" [src]="_auth.usuario?.img.url"
            style="width:55px;height:55px;border:1px solid #eee;border-radius:50%;object-fit:cover">
          <div>
            <div
              style="height:20px;overflow:hidden;margin-top:10px;color:#222;font-weight:600;text-transform:capitalize">
              {{_auth.usuario?.nombre}}
            </div>
            <div>
              Ver perfil
            </div>
          </div>

        </ion-item>
      </div>




      <ion-list>

        <ion-item (click)="openPage('home')" lines="none">
          <ion-icon slot="start" name="bicycle"></ion-icon>
          Solicitar rider
        </ion-item>

        <ion-item (click)="openPage('historial')" lines="none">
          <ion-icon slot="start" name="ios-list"></ion-icon>
          Mis pedidos
        </ion-item>

        <ion-item (click)="openPage('direcciones')" lines="none">
          <ion-icon slot="start" name="pin" style="color:#999"></ion-icon>
          Direcciones
        </ion-item>

        <ion-item (click)="openPage('codigo')" lines="none">
          <ion-icon slot="start" name="gift"></ion-icon>
          Código promocional
        </ion-item>

        <!-- <ion-item (click)="openPage('usuario')" lines="none">
          <ion-icon slot="start" name="settings"></ion-icon>
          Configuraciones
        </ion-item> -->


        <ion-item (click)="openPage('ayuda')" lines="none">
          <ion-icon slot="start" name="help-circle-outline"></ion-icon>
          Ayuda
        </ion-item>

        <!-- <ion-item (click)="logout()" lines="none">
          <ion-icon slot="start" name="log-out"></ion-icon>
          Cerrar sesión
        </ion-item> -->

      </ion-list>
    </ion-content>
  </ion-menu>

</ion-app>