<ion-app>
  <ion-router-outlet main></ion-router-outlet>


  <ion-menu side="start" menuId="first">
    <ion-content>
      <div style="padding:15px">
        <img [src]="usuario?.img.url"
          style="width:55px;height:55px;border:1px solid #eee;border-radius:50%;object-fit:cover">
        <div style="margin-top:10px;color:#222;font-weight:600;text-transform:capitalize">
          {{usuario?.nombre}}
        </div>
      </div>
      <ion-list>

        <ion-item (click)="openPage('home')" lines="none">
          <ion-icon slot="start" name="pin"></ion-icon>
          Inicio
        </ion-item>

        <ion-item (click)="openPage('historial')" lines="none">
          <ion-icon slot="start" name="list"></ion-icon>
          Mis pedidos
        </ion-item>

        <ion-item (click)="openPage('codigo')" lines="none">
          <ion-icon slot="start" name="gift"></ion-icon>
          Código promocional
        </ion-item>

        <ion-item (click)="openPage('usuario')" lines="none">
          <ion-icon slot="start" name="settings"></ion-icon>
          Configuraciones
        </ion-item>

        <!-- <ion-item lines="none">
          <ion-icon slot="start" name="headset"></ion-icon>
          Ayuda
        </ion-item> -->

        <ion-item (click)="logout()" lines="none">
          <ion-icon slot="start" name="log-out"></ion-icon>
          Cerrar sesión
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

</ion-app>