<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close" style="color:#444;font-size:27px"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title>Nuevo envío</ion-title> -->
    <ion-buttons slot="end">
      <ion-button (click)="close()" color="dark">
        Cancelar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="margin-left:15px;color:#666;font-weight:600">
    Seleccione ubicación
  </div>

  <div style="padding:15px;width:100%;display:flex;align-items:center;justify-content:flex-start">
    <div (click)="togglePunto('recogida')" class="holder" [ngClass]="{'holder-active': isRecogida}">
      <div style="width:100%;display:flex;justify-content:center">
        <ion-icon name="pin" style="font-size:35px" [ngStyle]="{'color': isRecogida ? '#9EDF1F' : '#bbb'}">
        </ion-icon>
      </div>
      <div style="font-size:15px;" [ngStyle]="{'color': isRecogida? '#333': '#888'}">
        Recogida
      </div>
    </div>
    <div (click)="togglePunto('entrega')" class="holder" [ngClass]="{'holder-active': isEntrega}">
      <div style="width:100%;display:flex;justify-content:center">
        <ion-icon name="flag" style="font-size:35px" [ngStyle]="{'color': isEntrega ? '#9EDF1F' : '#bbb'}">
        </ion-icon>
      </div>
      <div style="font-size:15px;" [ngStyle]="{'color': isEntrega? '#333': '#888'}">
        Entrega
      </div>
    </div>
  </div>

  <div *ngIf="!isRecogida && !isEntrega" style="height:160px;width:100%"></div>

  <div *ngIf="isRecogida">
    <ion-item lines="none">
      <div style="color:#666;font-size:17px">
        Detalles de recogida ¿Quién envía?
      </div>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="contact" style="color:#bbb;font-size:22px;"></ion-icon>
      <ion-input type="text" [(ngModel)]="nombre_origen" placeholder="Nombre"
        style="text-transform:capitalize;border-bottom:1px solid #eee;font-size:18px">
      </ion-input>
    </ion-item>

    <ion-item lines="none" style="margin-top:15px">
      <ion-icon slot="start" name="phone-portrait" style="color:#bbb;font-size:22px;"></ion-icon>
      <ion-input type="tel" [(ngModel)]="telefono_origen" placeholder="Teléfono"
        style="border-bottom:1px solid #eee;font-size:18px">
      </ion-input>
    </ion-item>
  </div>


  <div *ngIf="isEntrega">
    <ion-item lines="none">
      <div style="color:#666;font-size:17px">
        Detalles de entrega ¿Quién recibe?
      </div>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="contact" style="color:#bbb;font-size:22px;"></ion-icon>
      <ion-input type="text" [(ngModel)]="nombre_destino" placeholder="Nombre"
        style="text-transform:capitalize;border-bottom:1px solid #eee;font-size:18px">
      </ion-input>
    </ion-item>

    <ion-item lines="none" style="margin-top:15px">
      <ion-icon slot="start" name="phone-portrait" style="color:#bbb;font-size:22px;"></ion-icon>
      <ion-input type="tel" [(ngModel)]="telefono_destino" placeholder="Teléfono"
        style="border-bottom:1px solid #eee;font-size:18px">
      </ion-input>
    </ion-item>
  </div>

  <div style="margin-top:30px;margin-left:15px;color:#666;font-weight:600">
    Describe tu entrega
  </div>

  <div padding>
    <ion-textarea
      placeholder="Olvidastes tus llaves? Es un pedido para tu cliente? Podemos llevarlo siempre que quepa en la caja de la moto!."
      [(ngModel)]="instrucciones" rows="5" style="border:1px solid #eee;border-radius:5px;font-size:18px">
    </ion-textarea>
  </div>

</ion-content>


<ion-footer style="background:white">
  <div (click)="confirmar_envio()"
    style="padding:15px;font-size:18px;background:#9EDF1F;display:flex;align-items:center;justify-content:space-between">
    <div
      style="background:#7AC602;border-radius:5px;padding:5px;font-size:15px;display:flex;align-items:center;color:#fff;">
      <ion-icon name="time" style="color:#fff;margin-right:2px;font-size:18px;"></ion-icon>
      {{tiempo_entrega}}min
    </div>
    <div style="font-weight:500;color:white;">
      Confirmar envío
    </div>
    <div *ngIf="precio_promo != 0" style="color:#fff">
      ${{precio_promo}}
    </div>
    <div *ngIf="precio_promo == 0" style="color:#fff">
      Gratis
    </div>
  </div>
</ion-footer>



<div *ngIf="isLoading"
  style="z-index:999;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:center;justify-content:center;background:rgb(34, 34, 34, 0.5)">
  <div
    style="box-shadow: 0 0 20px rgba(68, 68, 68, 0.75);padding:30px;padding-top:20px;padding-bottom:20px;width:80%;border-radius:3px;background:white;">
    <div style="width:100%;display:flex;align-items:center">
      <ion-spinner color="secondary"></ion-spinner>
      <div style="margin-left:20px;font-size:17px;margin-right:10px">
        Cargando...
      </div>
    </div>
  </div>
</div>