.burbuja {
    background:rgb(250, 250, 250);
    height:60px;
    width:60px;
    border-radius:50%;
    border:1px solid #eee;
    display:flex;
    align-items:center;
    justify-content:center
}

.burbujaActiva {
    background:white;
    border:0px solid #eee;
}

.transporte {
    width: 45px;
}

.start {
    font-size:20px;
    color:gold;
}


.holder {
    border:1px solid #eee;
    margin-right:20px;
    padding:5px;
    border-radius:3px;
}

.holder-active {
    border:1px solid #9EDF1F
}
