<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div style="width:100%;height:100%;display:flex;align-items:center;justify-content:center">
    <div style="width:100%;">

      <div style="width:100%;display:flex;justify-content:center">
        <!-- <ion-icon name="help-buoy" style="color:#bbb;font-size:80px"></ion-icon> -->
        <img [src]="'https://res.cloudinary.com/ddon9fx1n/image/upload/v1573908091/tools/parachute.png'" style="width:200px">
      </div>

      <div style="width:100%;text-align:center;color:#444;font-size:22px;margin-top:20px">
        ¿Necesitas ayuda?
      </div>

      <div style="width:100%;text-align:center;color:#888;font-size:17px;margin-top:20px">
        ¿Estás perdido? ¿No sabes cómo..?
        <div>
          Siéntete libre de contactarnos
        </div>
      </div>

      <div style="width:100%;text-align:center;color:limegreen;font-size:18px;font-weight:500;margin-top:20px;margin-bottom:100px">
        soporte@moviapp.cl
      </div>

    </div>
  </div>

</ion-content>