<ion-header no-border>
  <ion-toolbar color="white">
    <ion-searchbar mode="ios" [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()"
      placeholder="Buscar un lugar">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

  <div id='map2'></div>

</ion-content>



<ion-footer padding style="background:#fff">

  <div (click)="presentAlertPrompt()" style="padding:10px;border-bottom:1px solid #eee">
    <div style="color:#999;display:flex;align-items:center">
      <ion-icon slot="start" name="home" style="font-size:22px;color:#bbb;margin-right:20px"></ion-icon>
      <div [ngStyle]="{color: puerta == 'Piso, puerta... (opcional)' ? '#999':'#333'}">
        {{this.puerta}}
      </div>
    </div>
  </div>

  <div style="margin-top:15px;width:100%;display:flex;justify-content:center">
    <ion-button (click)="closeModal()" color="secondary" mode="ios">
      Hecho
    </ion-button>
  </div>
</ion-footer>