#map {
    height: 100%;
}

.burbuja {
    // background:rgb(250, 250, 250);
    height:60px;
    width:60px;
    border-radius:50%;
    // border:1px solid #eee;
    display:flex;
    align-items:center;
    justify-content:center
}

.burbujaActiva {
    // background:lightyellow;
    border:0px solid #eee;
}

.transporte {
    width: 45px;
    filter:grayscale(100%);
}

.transporteActivo {
    filter:grayscale(0%);
}

.small {
    text-align:center;
    width:100%;
    color:#999;
    font-size:14px;
}

.smallActivo {
    // color: #0bb8cc;
    color:#444;
}

.large {
    width:100%;
    text-align:center;
    color:#999;
}

.largeActivo {
    color: #444;
    font-weight:500;
    font-size: 20px; 
}

.start {
    font-size:20px;
    color:gold;
}

.holder {
    margin:15px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-left:10px;
    padding-right:10px;
    border-radius:10px;
    border: 1px solid #eee;
}

.holderActivo {
    border: 1px solid #bbb;
}













.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  