<div *ngIf="rutaReady && pedidoActivo" style="z-index:990;position:fixed;top:20px;left:15px">
  <div (click)="openMenu()"
    style="background:white;height:38px;width:38px;display:flex;align-items:center;justify-content:center;border-radius:10px;box-shadow: 0 0 20px #ccc;">
    <ion-icon name="menu" style="color:#444;font-size:22px"></ion-icon>
  </div>
</div>
<div *ngIf="!rutaReady" style="z-index:990;position:fixed;top:20px;left:15px">
  <div (click)="openMenu()"
    style="background:white;height:38px;width:38px;display:flex;align-items:center;justify-content:center;border-radius:10px;box-shadow: 0 0 20px #ccc;">
    <ion-icon name="menu" style="color:#444;font-size:22px"></ion-icon>
  </div>
</div>
<div *ngIf="!rutaReady" style="z-index:990;position:fixed;top:20px;right:15px">
  <div
    style="background:white;width:38px;height:38px;display:flex;align-items:center;justify-content:center;border-radius:10px;box-shadow: 0 0 20px #ccc;">
    <ion-icon name="gift" style="color:#555;font-size:24px"></ion-icon>
  </div>
</div>

<!-- <div *ngIf="pedidoActivo && isEmpresa" style="z-index:990;position:fixed;bottom:260px;left:10px">
  <div (click)="crearNuevoPedido()"
    style="background:white;color:#666;font-weight:500;height:35px;padding:20px;display:flex;align-items:center;justify-content:center;border-radius:2px;box-shadow: 0 0 20px #bbb;">
    <ion-icon name="add" style="margin-right:5px;color:#444;font-size:22px"></ion-icon>
    Crear más pedidos
  </div>
</div> -->

<div *ngIf="rutaReady" style="z-index:990;position:fixed;top:15px;left:15px;width:90%">
  <div
    style="border:1px solid #eee;width:100%;background:white;padding:12px;padding-right:5px;padding-left:5px;border-radius:5px;font-size:17.5px;display:flex;align-items:center;justify-content:space-between;box-shadow: 0 0 20px #d3d3d3">
    <div style="font-size:15px;height:15px;width:45%;text-align:center;overflow:hidden">
      {{texto_origen.split(',')[0]}}
    </div>
    <ion-icon name="arrow-round-forward" style="font-size:18px;color:#555"></ion-icon>
    <div style="font-size:15px;height:15px;width:45%;text-align:center;overflow:hidden">
      {{texto_destino.split(',')[0]}}
    </div>
  </div>
</div>


<ion-content>

  <div style="width:100%;height:100%;position:relative;">
    <div id='map'></div>
    <div *ngIf="rutaReady && !pedidoActivo" style="position:absolute;bottom:30px;left:15px">
      <div (click)="resetMapa()"
        style="background:white;height:38px;width:38px;display:flex;align-items:center;justify-content:center;border-radius:10px;box-shadow: 0 0 20px #c2c2c2;">
        <ion-icon name="arrow-round-back" style="color:#444;font-size:22px"></ion-icon>
      </div>
    </div>

    <div *ngIf="pedidoActivo && isEmpresa" style="position:absolute;bottom:30px;left:10px">
      <div (click)="crearNuevoPedido()"
        style="background:white;color:#444;height:35px;padding:20px;display:flex;align-items:center;justify-content:center;border-radius:2px;box-shadow: 0 0 20px #bbb;">
        <ion-icon name="add" style="margin-right:5px;color:#444;font-size:22px"></ion-icon>
        Crear más pedidos
      </div>
    </div>
  </div>

</ion-content>



<ion-footer style="background:#fff">
  <div *ngIf="cuponData?.ok && !rutaReady && !pedidoActivo"
    style="width:100%;padding:7px;padding-left:15px;color:white;font-size:14px;background:#df1f9f">
    Se aplicó la promoción
    <span *ngIf="cuponData.cupon.tipo == 'PORCENTAJE'">{{cuponData.cupon.descuento}}%</span>
    <span *ngIf="cuponData.cupon.tipo == 'DINERO'">${{cuponData.cupon.descuento}}</span>
    de descto.
  </div>

  <div *ngIf="!pedidoActivo" style="padding:15px">

    <div *ngIf="rutaReady"
      style="padding-bottom:10px;margin-bottom:25px;border-bottom:1px solid #eee;padding-left:15px;padding-right:15px;width:100%;display:flex;align-items:center;justify-content:space-between">
      <div style="color:#444;font-size:13px;font-weight:500;text-transform:uppercase">
        Elige un transporte
      </div>
      <div *ngIf="cuponData?.ok"
        style="margin-left:10px;text-align:center;padding:5px;padding-left:10px;padding-right:10px;border-radius:15px;background:#df1f9f;font-size:14px;color:white;font-weight:500">
        <span *ngIf="cuponData.cupon.tipo == 'PORCENTAJE'">{{cuponData.cupon.descuento}}%</span>
        <span *ngIf="cuponData.cupon.tipo == 'DINERO'">${{cuponData.cupon.descuento}}</span>
        descuento
      </div>
    </div>

    <div *ngIf="rutaReady" style="width:100%;">

      <div *ngIf="showBici" (click)="vehiculoToggle('bicicleta')" class="holder"
        [ngClass]="{'holderActivo': isBicicleta}">
        <div style="display:flex;align-items:center;">
          <div class="burbuja" [ngClass]="{'burbujaActiva': isBicicleta}">
            <img src="assets/bici.svg" class="transporte" [ngClass]="{'transporteActivo': isBicicleta}">
          </div>
          <div style="margin-left:15px">
            <div class="small" [ngClass]="{'smallActivo': isBicicleta}">
              Bici
            </div>
            <div class="smallDos" [ngClass]="{'smallActivoDos': isBicicleta}">
              Mensajero
            </div>
          </div>
        </div>
        <div>
          <div *ngIf="!distancia_excedida_bici && precioBici_promo > 0" class="large"
            [ngClass]="{'largeActivo': isBicicleta}">
            ${{precioBici_promo}}
          </div>
          <div *ngIf="!distancia_excedida_bici && precioBici_promo == 0" class="large"
            [ngClass]="{'largeActivo': isBicicleta}">
            Gratis
          </div>
          <div *ngIf="distancia_excedida_bici" class="large" [ngClass]="{'largeActivo': isBicicleta}">
            --
          </div>
          <div class="smallTres" [ngClass]="{'smallActivoTres': isBicicleta}">
            {{tiempoBici}} min
          </div>
        </div>
      </div>


      <div *ngIf="showAuto" (click)="vehiculoToggle('auto')" class="holder" [ngClass]="{'holderActivo': isAuto}">
        <div style="display:flex;align-items:center;">
          <div class="burbuja" [ngClass]="{'burbujaActiva': isAuto}">
            <img src="assets/auto.svg" class="transporte" [ngClass]="{'transporteActivo': isAuto}">
          </div>
          <div style="margin-left:15px">
            <div class="small" [ngClass]="{'smallActivo': isAuto}">
              Auto
            </div>
            <div class="smallDos" [ngClass]="{'smallActivoDos': isAuto}">
              Mensajero
            </div>
          </div>
        </div>
        <div>
          <div *ngIf="!distancia_excedida_auto && precioMoto_promo > 0" class="large"
            [ngClass]="{'largeActivo': isAuto}">
            ${{precioAuto_promo}}
          </div>
          <div *ngIf="!distancia_excedida_auto && precioMoto_promo == 0" class="large"
            [ngClass]="{'largeActivo': isAuto}">
            Gratis
          </div>
          <div *ngIf="distancia_excedida_auto" class="large" [ngClass]="{'largeActivo': isAuto}">
            --
          </div>
          <div class="smallTres" [ngClass]="{'smallActivoTres': isAuto}">
            {{tiempoAuto}} min
          </div>
        </div>
      </div>


      <div *ngIf="showMoto" (click)="vehiculoToggle('moto')" class="holder" [ngClass]="{'holderActivo': isMoto}">
        <div style="display:flex;align-items:center;">
          <div class="burbuja" [ngClass]="{'burbujaActiva': isMoto}">
            <img src="assets/moto.svg" class="transporte" [ngClass]="{'transporteActivo': isMoto}">
          </div>
          <div style="margin-left:15px">
            <div class="small" [ngClass]="{'smallActivo': isMoto}">
              Moto
            </div>
            <div class="smallDos" [ngClass]="{'smallActivoDos': isMoto}">
              Mensajero
            </div>
          </div>
        </div>
        <div>
          <div *ngIf="!distancia_excedida_moto && precioMoto_promo > 0" class="large"
            [ngClass]="{'largeActivo': isMoto}">
            ${{precioMoto_promo}}
          </div>
          <div *ngIf="!distancia_excedida_moto && precioMoto_promo == 0" class="large"
            [ngClass]="{'largeActivo': isMoto}">
            Gratis
          </div>
          <div *ngIf="distancia_excedida_moto" class="large" [ngClass]="{'largeActivo': isMoto}">
            --
          </div>
          <div class="smallTres" [ngClass]="{'smallActivoTres': isMoto}">
            {{tiempoMoto}} min
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="!rutaReady" style="color:#666;font-weight:300">
      Buenas tardes <span style="text-transform:capitalize"> {{usuario.nombre.split(' ')[0] }}</span>
    </div>

    <div *ngIf="!rutaReady"
      style="margin-bottom:10px;width:100%;display:flex;align-items:center;justify-content:space-between;align-items:center">
      <div style="font-size:20px;font-weight:500;color:#333">
        Dónde hacemos la entrega?
      </div>
      <!-- <div *ngIf="cuponData?.ok"
        style="margin-left:10px;text-align:center;padding:5px;padding-left:10px;padding-right:10px;border-radius:15px;background:#df1f9f;font-size:14px;color:white;font-weight:500">
        <span *ngIf="cuponData.cupon.tipo == 'PORCENTAJE'">{{cuponData.cupon.descuento}}%</span>
        <span *ngIf="cuponData.cupon.tipo == 'DINERO'">${{cuponData.cupon.descuento}}</span>
        Descto.
      </div> -->
    </div>

    <div *ngIf="!rutaReady" (click)="openUbicaciones()"
      style="margin-bottom:10px;border:1px solid #9EDF1F;border-radius:15px;padding:12px;padding-left:10px;padding-right:10px;display:flex;align-items:center;justify-content:space-between">
      <ion-icon name="flag" style="font-size:25px;color:#dfcf1f"></ion-icon>
      <!-- <img src="assets/bike01.svg" style="width:40px"> -->
      <div style="width:80%">
        <!-- hmm -->
      </div>
    </div>

    <ion-item *ngIf="!rutaReady" (click)="openUbicaciones()" lines="none">
      <div slot="start"
        style="width:30px;height:30px;background:#9EDF1F;border-radius:50%;display:flex;align-items:center;justify-content:center">
        <ion-icon name="home" style="font-size:22px;color:white"></ion-icon>
      </div>
      <div style="width:100%;overflow:hidden;height:20px">
        Casa
      </div>
    </ion-item>

    <ion-item *ngIf="!rutaReady" (click)="openUbicaciones()" lines="none">
      <div slot="start"
        style="width:30px;height:30px;background:#9EDF1F;border-radius:50%;display:flex;align-items:center;justify-content:center">
        <ion-icon name="briefcase" style="font-size:21px;color:white"></ion-icon>
      </div>
      <div style="width:100%;overflow:hidden;height:20px">
        Trabajo
      </div>
    </ion-item>

    <ion-item (click)="openMetodoPago()" *ngIf="rutaReady" lines="none">
      <div style="color:#333;display:flex;align-items:center">
        <ion-icon name="card" style="color:#999;margin-right:10px;font-size:20px"></ion-icon>
        <div *ngIf="_control.metodo_pago == 'Efectivo'">
          En efectivo
        </div>
        <div *ngIf="_control.metodo_pago == 'Tarjeta'">
          Con tarjeta
        </div>
        <ion-icon name="ios-arrow-down" style="color:#999;margin-left:5px"></ion-icon>
      </div>
    </ion-item>

    <ion-button *ngIf="rutaReady" [disabled]="!(isMoto || isBicicleta || isAuto)" mode="ios" (click)="iniciarPedido()"
      expand="block" color="secondary" style="margin:15px;margin-top:0px">
      <div style="font-size:20px;font-weight:600">
        Solicitar Rider
      </div>
    </ion-button>

  </div>








  <div *ngIf="pedidoActivo" style="padding:15px">

    <div style="margin-bottom:15px;font-size:18px;color:#444">
      <div *ngIf="evento == 0">
        Solicitud confirmada
      </div>
      <div *ngIf="evento == 1">
        El Rider está en camino al punto de inicio
      </div>
      <div *ngIf="evento == 2">
        Vé al punto de inicio, el Rider ha llegado!
      </div>
      <div *ngIf="evento == 3">
        El Rider está en camino al punto de entrega
      </div>
      <div *ngIf="evento == 4">
        Tu pedido se está entregando
      </div>
    </div>

    <div *ngIf="false" style="margin-bottom:15px;width:100%;display:flex;align-items:center">

      <div
        [ngClass]="{'bubble-step-forward': evento < 0, 'bubble-step-done': evento == 0, 'bubble-step-done': evento > 0}">
        <ion-icon *ngIf="evento > 0" name="checkmark-circle" style="color:limegreen;font-size:28px"></ion-icon>
        <div *ngIf="evento == 0" style="color:white;font-weight:600">1</div>
      </div>

      <div [ngClass]="{'bar-step-forward': evento <= 0, 'bar-step-done': evento > 0}">
      </div>

      <div
        [ngClass]="{'bubble-step-forward': evento < 1, 'bubble-step-active': evento == 1, 'bubble-step-done': evento > 1}">
        <ion-icon *ngIf="evento > 1" name="checkmark-circle" style="color:limegreen;font-size:28px"></ion-icon>
        <div *ngIf="evento == 1" style="color:white;font-weight:600">2</div>
      </div>

      <div [ngClass]="{'bar-step-forward': evento <= 1, 'bar-step-done': evento > 1}">
      </div>

      <div
        [ngClass]="{'bubble-step-forward': evento < 2, 'bubble-step-active': evento == 2, 'bubble-step-done': evento > 2}">
        <ion-icon *ngIf="evento > 2" name="checkmark-circle" style="color:limegreen;font-size:28px"></ion-icon>
        <div *ngIf="evento == 2" style="color:white;font-weight:600">3</div>
      </div>

      <div [ngClass]="{'bar-step-forward': evento <= 2, 'bar-step-done': evento > 2}">
      </div>

      <div
        [ngClass]="{'bubble-step-forward': evento < 3, 'bubble-step-active': evento == 3, 'bubble-step-done': evento > 3}">
        <ion-icon *ngIf="evento > 3" name="checkmark-circle" style="color:limegreen;font-size:28px"></ion-icon>
        <div *ngIf="evento == 3" style="color:white;font-weight:600">4</div>
      </div>

      <div [ngClass]="{'bar-step-forward': evento <= 3, 'bar-step-done': evento > 3}">
      </div>

      <div
        [ngClass]="{'bubble-step-forward': evento < 4, 'bubble-step-active': evento == 4, 'bubble-step-done': evento > 4}">
        <ion-icon *ngIf="evento > 4" name="checkmark-circle" style="color:limegreen;font-size:28px"></ion-icon>
        <div *ngIf="evento == 4" style="color:white;font-weight:600">5</div>
      </div>

    </div>


    <div style="width:100%;padding-bottom:15px;display:flex;align-items:center;justify-content:space-between">
      <div style="display:flex;align-items:center;">
        <div style="position:relative">
          <img [src]="rider?.img?.url" style="width:65px;height:65px;border-radius:50%;object-fit:cover">
          <div class="burbuja burbujaActiva" style="position:absolute;bottom:-10px;right:-40px">
            <img *ngIf="rider.vehiculo == 'Moto'" src="assets/moto.svg" style="width:45px">
            <img *ngIf="rider.vehiculo == 'Bicicleta'" src="assets/bici.svg" style="width:45px">
            <img *ngIf="rider.vehiculo == 'Auto'" src="assets/auto.svg" style="width:45px">
          </div>
        </div>

        <div *ngIf="rider" style="margin-left:40px">
          <div style="text-transform:uppercase;font-size:14px;">
            {{rider?.nombre}}
          </div>
          <div style="display:flex;align-items:center">
            <ion-icon *ngIf="rider?.stats?.startsAvg >= 1" name="star" class="start"></ion-icon>
            <ion-icon *ngIf="rider?.stats?.startsAvg == 1.5" name="star-half" class="start"></ion-icon>
            <ion-icon *ngIf="rider?.stats?.startsAvg >= 2" name="star" class="start"></ion-icon>
            <ion-icon *ngIf="rider?.stats?.startsAvg == 2.5" name="star-half" class="start"></ion-icon>
            <ion-icon *ngIf="rider?.stats?.startsAvg >= 3" name="star" class="start"></ion-icon>
            <ion-icon *ngIf="rider?.stats?.startsAvg == 3.5" name="star-half" class="start"></ion-icon>
            <ion-icon *ngIf="rider?.stats?.startsAvg >= 4" name="star" class="start"></ion-icon>
            <ion-icon *ngIf="rider?.stats?.startsAvg == 4.5" name="star-half" class="start"></ion-icon>
            <ion-icon *ngIf="rider?.stats?.startsAvg >= 5" name="star" class="start"></ion-icon>
            ({{rider?.stats?.startsAvg}})
          </div>
          <div *ngIf="rider?.vehiculo == 'Auto'" style="font-size:14px;color:#999;margin-top:2px;margin-bottom:2px">
            {{rider.patente}}
          </div>
          <div style="font-size:14px;color:#999;margin-top:2px;margin-bottom:2px">
            Entrega estimada: {{pedido.entrega_estimada}}
          </div>
        </div>
      </div>

      <div class="ion-activatable">
        <div (click)="showTrip=true" *ngIf="!showTrip"
          style="width:45px;height:45px;display:flex;align-items:center;justify-content:center;border-radius:50%;border:1px solid #eee">
          <ion-icon name="ios-arrow-up" style="font-size:30px;color:#bbb;"></ion-icon>
        </div>
        <div (click)="showTrip=false" *ngIf="showTrip"
          style="width:45px;height:45px;display:flex;align-items:center;justify-content:center;border-radius:50%;border:1px solid #eee">
          <ion-icon name="ios-arrow-down" style="font-size:30px;color:#bbb;"></ion-icon>
        </div>
        <ion-ripple-effect type="unbounded">
        </ion-ripple-effect>
      </div>
    </div>

    <div *ngIf="showTrip"
      style="border-top:1px solid #eee;display:flex;align-items:center;justify-content:space-around;padding-top:15px">
      <div (click)="callPhone(rider.telefono)" style="margin-right:0px">
        <div style="display:flex;justify-content:center">
          <div
            style="width:40px;height:40px;display:flex;align-items:center;justify-content:center;border-radius:50%;border:1px solid #eee">
            <ion-icon name="ios-call" style="font-size:22px;color:#bbb"></ion-icon>
          </div>
        </div>
        <div style="margin-top:5px;text-align:center;font-size:12.5px;color:#777">
          LLAMAR
        </div>
      </div>
      <div (click)="alert_cancelacion(rider._id)" style="margin-right:0px">
        <div style="display:flex;justify-content:center">
          <div
            style="width:40px;height:40px;display:flex;align-items:center;justify-content:center;border-radius:50%;border:1px solid #eee">
            <ion-icon name="close" style="font-size:22px;color:#bbb"></ion-icon>
          </div>
        </div>
        <div style="margin-top:5px;text-align:center;font-size:12.5px;color:#777">
          CANCELAR
        </div>
      </div>
      <div style="width:40px;height:40px"></div>
      <div style="width:40px;height:40px"></div>
    </div>

  </div>

  <div *ngIf="showTrip"
    style="padding:15px;padding-top:25px;padding-bottom:25px;background:whitesmoke;width:100%;display:flex;justify-content:space-between;">
    <div style="display:flex;align-items:center">
      <ion-icon name="card" style="font-size:25px;color:#bbb"></ion-icon>
      <div style="margin-left:10px;font-size:18px;color:#222">
        Efectivo
      </div>
    </div>
    <div style="color:#222;font-size:18px">
      $5600
    </div>
  </div>

</ion-footer>


<!-- loadingRider -->
<div *ngIf="loadingRider"
  style="z-index:999;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:center;justify-content:center;background:rgb(34, 34, 34, 0.5)">
  <div style="box-shadow: 0 0 20px rgba(68, 68, 68, 0.75);border-radius:3px;background:white;width:270px;padding:20px">
    <div style="width:100%;flex:1">
      <div style="width:100%;font-size:17.5px;display:flex;align-items:center">
        <ion-spinner color="dark" name="dots" style="margin-right:5px;margin-left:10px"></ion-spinner>
        <div style="font-weight:500;color:#333;width:150px;text-align:center">
          BUSCANDO RIDER
        </div>
        <ion-spinner color="dark" name="dots" style="margin-left:5px"></ion-spinner>
      </div>
      <div style="color:#666;width:100%;margin-top:10px;text-align:center">
        Localizando conductores cercanos
      </div>
    </div>
    <div (click)="cancelarBusqueda()" style="margin-top:30px;width:100%;display:flex;justify-content:center">
      <ion-icon name="close-circle" style="color:#444;font-size:42px"></ion-icon>
    </div>
  </div>
</div>



<div *ngIf="isLoading"
  style="z-index:999;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:center;justify-content:center;background:rgb(34, 34, 34, 0.5)">
  <div
    style="box-shadow: 0 0 20px rgba(68, 68, 68, 0.75);padding:30px;padding-top:20px;padding-bottom:20px;width:80%;border-radius:3px;background:white;">
    <div style="width:100%;display:flex;align-items:center">
      <ion-spinner color="secondary"></ion-spinner>
      <div style="margin-left:20px;font-size:17px;margin-right:10px">
        Cargando...
      </div>
    </div>
  </div>
</div>

<div *ngIf="graciasPorComprar"
  style="z-index:999;position:fixed;top:0px;left:0px;height:100%;width:100%;background:#0cd1e8;display:flex;align-items:center;justify-content:center">
  <div>
    <div style="width:100%;text-align:center">
      <ion-icon name="checkmark-circle" style="font-size:100px;color:white"></ion-icon>
    </div>
    <div style="width:100%;text-align:center;color:white;font-size:20px;font-weight:550">
      Gracias por su compra
    </div>
  </div>
</div>