#map {
    height: 100%;
}

.burbuja {
    height:60px;
    width:60px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center
}

.burbujaActiva {
    border:0px solid #eee;
}

.transporte {
    width: 45px;
    filter:grayscale(100%);
}

.transporteActivo {
    filter:grayscale(0%);
}

.small {
    width:100%;
    color:#999;
    font-size:18px;
}
.smallActivo {
  color:#333;
  font-weight:500;
}

.smallDos {
  width:100%;
  color:#999;
  font-size:14.5px;
}

.smallActivoDos {
  color:#666;
}

.smallTres {
  width:100%;
  color:#999;
  font-size:13px;
  text-align:right;
}

.smallActivoTres {
  color:#7AC602;
}

.large {
    width:100%;
    text-align:center;
    color:#999;
    font-size:18px;
}

.largeActivo {
    color: #333;
    // font-weight:500;
    // font-size: 16px; 
}

.start {
    font-size:20px;
    color:gold;
}

.holder {
    margin:15px;
    padding:5px;
    // margin-top:15px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-left:10px;
    padding-right:10px;
    border-radius:10px;
    border: 1px solid #eee;
}

.holderActivo {
    border: 2px solid #9EDF1F;
}





.bubble-step-done {
  width:30px;
  height:30px;
  border-radius:50%;
  background:white;
  display:flex;
  align-items:center;
  justify-content:center;
}

.bubble-step-active {
  width:28px;
  height:28px;
  border-radius:50%;
  background:limegreen;
  display:flex;
  align-items:center;
  justify-content:center;
}

.bubble-step-forward {
  width:28px;
  height:28px;
  border-radius:50%;
  background:white;
  border: 1px solid #e2e2e2;
  display:flex;
  align-items:center;
  justify-content:center;
}

.bar-step-done {
  width:40px;
  height:10px;
  background:limegreen;
}

.bar-step-forward {
  width:40px;
  height:10px;
  background:#e2e2e2;
}









.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  