#map {
    height: 100%;
}

.burbuja {
    background:rgb(250, 250, 250);
    height:60px;
    width:60px;
    border-radius:50%;
    border:1px solid #eee;
    display:flex;
    align-items:center;
    justify-content:center
}

.burbujaActiva {
    background:lightyellow;
    border:0px solid #eee;
}

.transporte {
    width: 45px;
    filter:grayscale(100%);
}

.transporteActivo {
    filter:grayscale(0%);
}

.small {
    text-align:center;
    width:100%;
    color:#999;
    font-size:14px;
}

.smallActivo {
    color: #111; 
}

.large {
    width:100%;
    text-align:center;
    color:#999;
}

.largeActivo {
    color: #111;
    font-weight:500;
    font-size: 20px; 
}