<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="arrow-round-back" style="color:#444;font-size:27px"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title> {{tipo}} </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <div class="titulo" style="margin-top:0px">
    POLÍTICA DE PRIVACIDAD
  </div>
  <div class="parrafo">
    En el presente documento se informan las políticas de privacidad que utiliza Moviup Company SpA en materia de
    recopilación, uso y divulgación de datos personales al momento de utilizar los servicios presentes en este sitio web
    y de las opciones que dispone en relación a esos datos.
  </div>
  <div class="parrafo">
    Estamos comprometidos con la seguridad de nuestros usuarios. Al utilizar nuestros servicios, usted acepta la
    recopilación y uso de información según lo establecido en esta aviso de privacidad. Sin embargo este documento puede
    cambiar con el tiempo o ser actualizado por lo que se recomienda su revisión periódica para estar informado de
    dichos cambios.
  </div>

  <div class="titulo">
    INFORMACIÓN RECOPILADA
  </div>

  <div class="subtitulo">
    a) Datos Personales
  </div>

  <div class="parrafo">
    Al utilizar nuestros servicios, es posible que le pidamos que nos proporcione información personal como: nombre,
    información de contacto, dirección, entre otros.
  </div>

  <div class="subtitulo">
    b) Datos de uso
  </div>

  <div class="parrafo">
    También recopilamos información sobre la forma en que accede y utiliza nuestro sitio web. Esta información puede
    incluir datos como dirección del protocolo de internet de su ordenador, tipo de navegador, versión del navegador,
    tipo de dispositivo, paginas visitadas, datos demográficos, hora y duración de la visita.
  </div>


  <div class="subtitulo">
    c) Cookies
  </div>

  <div class="parrafo">
    Utilizamos cookies y tecnologías de almacenamiento similares para rastrear el uso de nuestros servicios y mantener
    la determinada información.
  </div>

  <div class="parrafo">
    Las cookies son archivos con una limitada cantidad de datos que se descargan una vez que usted accede a nuestros
    servicios, y se alojan en su dispositivo. Estas nos permiten analizar nuestros servicios para hacer mejoras y
    agregar nuevo contenido.
  </div>


  <div class="titulo">
    USO DE DATOS
  </div>
  <div class="parrafo">
    La información recopilada en Moviup tiene como objetivo:
  </div>
  <div class="parrafo">
    a) Realizar un seguimiento de nuestros usuarios y su actividad
  </div>
  <div class="parrafo">
    b) Analizar la actividad en nuestro sitio web
  </div>
  <div class="parrafo">
    c) Mejorar nuestros servicios
  </div>
  <div class="parrafo">
    d) Controlar el uso de nuestra pagina web
  </div>
  <div class="parrafo">
    e) Notificar de nuestros cambios y/o actualizaciones
  </div>
  <div class="parrafo">
    f) Permitirle participar en funciones interactivas en nuestro sitio web cuando desee hacerlo
  </div>
  <div class="parrafo">
    g) Prestar asistencia a nuestros usuarios
  </div>




  <div class="titulo">
    ENLACES A OTROS SITIOS
  </div>
  <div class="parrafo">
    En nuestro sitio web puede encontrar enlaces a otras paginas no operadas por nosotros. No nos hacemos responsables
    por el contenido, políticas o uso de datos de sitios o servicios de terceros.
  </div>

  <div class="parrafo">
    Se recomienda que revisar la política de privacidad de cualquier sitio web antes de hacer uso de este.
  </div>


  <div class="titulo">
    SEGURIDAD DE LOS DATOS
  </div>
  <div class="parrafo">
    Su seguridad es importante para nosotros, es por ello que utilizamos los mejores medios para proteger los datos
    utilizados en nuestro sitio web, sin embargo le recordamos que no existe ningún medio de transmisión de datos o
    almacenamiento de los mismo que sea 100% seguro.
  </div>

  <div class="parrafo">
    Los datos obtenidos en este sitio web no se venderán, distribuirán, ni cederán a terceros sin su consentimiento,
    salvo que sea requerido por un juez con una orden judicial.
  </div>


  <div class="titulo">
    CAMBIOS EN ESTA POLÍTICA DE PRIVACIDAD
  </div>
  <div class="parrafo">
    Moviup Company SpA se reserva el derecho a hacer cambios en los términos de su aviso de privacidad. Los cambios
    realizados, serán notificados a través de nuestro sitio web. Recomendamos visitar nuestras políticas periódicamente
    para estar al tanto de las nuevas actualizaciones.
  </div>

  <div class="titulo">
    CONTACTO </div>
  <div class="parrafo">
    Si tiene alguna pregunta sobre este documento o alguno de nuestros servicios, no dude en contactarnos al
    moviup.help@gmail.com.
  </div>


</ion-content>