<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="close" style="color:#444;font-size:27px"></ion-icon>
            </ion-button>
        </ion-buttons>
        <!-- <ion-title>Nuevo envío</ion-title> -->
        <ion-buttons slot="end">
            <ion-button (click)="close()" color="dark">
                Cancelar
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div style="margin-left:15px;color:#666;font-weight:600">
        Seleccione ubicación
    </div>

    <div style="padding:15px;width:100%;display:flex;align-items:center;justify-content:flex-start">
        <div (click)="isEntrega = false; isRecogida = true" class="holder" [ngClass]="{'holder-active': isRecogida}">
            <div style="width:100%;display:flex;justify-content:center">
                <ion-icon name="pin" style="font-size:35px" [ngStyle]="{'color': isRecogida ? '#9EDF1F' : '#bbb'}">
                </ion-icon>
            </div>
            <div style="color:#999;font-size:15px;">
                Recogida
            </div>
        </div>
        <div (click)="isEntrega = true; isRecogida = false" class="holder" [ngClass]="{'holder-active': isEntrega}">
            <div style="width:100%;display:flex;justify-content:center">
                <ion-icon name="flag" style="font-size:35px" [ngStyle]="{'color': isEntrega ? '#9EDF1F' : '#bbb'}">
                </ion-icon>
            </div>
            <div style="color:#888;font-size:15px;">
                Entrega
            </div>
        </div>
    </div>

    <div *ngIf="isRecogida">
        <ion-item lines="none">
            <div style="color:#777;font-size:17px">
                Detalles de recogida ¿Quién envía?
            </div>
        </ion-item>

        <ion-item lines="none">
            <ion-icon slot="start" name="contact" style="color:#bbb;font-size:22px;"></ion-icon>
            <ion-input type="text" [(ngModel)]="nombre_origen" placeholder="Nombre"
                style="text-transform:capitalize;border-bottom:1px solid #eee;font-size:18px">
            </ion-input>
        </ion-item>

        <ion-item lines="none" style="margin-top:15px">
            <ion-icon slot="start" name="phone-portrait" style="color:#bbb;font-size:22px;"></ion-icon>
            <ion-input type="tel" [(ngModel)]="telefono_origen" placeholder="Teléfono"
                style="border-bottom:1px solid #eee;font-size:18px">
            </ion-input>
        </ion-item>
    </div>


    <div *ngIf="isEntrega">
        <ion-item lines="none">
            <div style="color:#777;font-size:17px">
                Detalles de entrega ¿Quién recibe?
            </div>
        </ion-item>

        <ion-item lines="none">
            <ion-icon slot="start" name="contact" style="color:#bbb;font-size:22px;"></ion-icon>
            <ion-input type="text" [(ngModel)]="nombre_destino" placeholder="Nombre"
                style="text-transform:capitalize;border-bottom:1px solid #eee;font-size:18px">
            </ion-input>
        </ion-item>

        <ion-item lines="none" style="margin-top:15px">
            <ion-icon slot="start" name="phone-portrait" style="color:#bbb;font-size:22px;"></ion-icon>
            <ion-input type="tel" [(ngModel)]="telefono_destino" placeholder="Teléfono"
                style="border-bottom:1px solid #eee;font-size:18px">
            </ion-input>
        </ion-item>
    </div>


    <!-- <div style="margin:15px;margin-top:5px;border:1px solid #eee;border-radius:6px;padding:5px;">
        <ion-input type="text" [(ngModel)]="nombre" placeholder="Nombre" style="font-size:18px">
        </ion-input>
    </div>  


    <div
        style="margin:15px;margin-top:5px;border:1px solid #eee;border-radius:6px;padding:5px;display:flex;align-items:center;">
        <ion-icon slot="start" name="phone-portrait" style="color:#bbb;font-size:22px;"></ion-icon>
        <ion-input type="text" [(ngModel)]="telefono" placeholder="Teléfono" style="font-size:18px">
        </ion-input>
    </div> -->


    <div style="margin-top:35px;margin-left:15px;color:#666;font-weight:600">
        Describe tu entrega
    </div>

    <div padding>
        <ion-textarea placeholder="Olvidastes tus llaves? Es un pedido para tu cliente? Podemos llevarlo siempre que quepa en la caja de la moto!." [(ngModel)]="instrucciones" rows="5"
            style="border:1px solid #eee;border-radius:5px;font-size:18px">
        </ion-textarea>
    </div>


    <div>

        <div style="margin-top:10px;margin-bottom:5px;margin-left:15px;color:#666;font-weight:600">
            ¿Cómo te encontramos?
        </div>
        <ion-item (click)="tipoToggle(0)">
            <ion-icon *ngIf="tipos[0].isActive" slot="start" name="radio-button-on" style="color:dodgerblue"></ion-icon>
            <ion-icon *ngIf="!tipos[0].isActive" slot="start" name="radio-button-off"></ion-icon>
            <img slot="end" src="assets/food-truck.svg" style="width:35px;opacity:0.7;">
            <div>
                Soy un Foodtruck
            </div>
        </ion-item>

        <ion-item (click)="tipoToggle(1)">
            <ion-icon *ngIf="tipos[1].isActive" slot="start" name="radio-button-on" style="color:dodgerblue"></ion-icon>
            <ion-icon *ngIf="!tipos[1].isActive" slot="start" name="radio-button-off"></ion-icon>
            <img slot="end" src="assets/restaurant.svg" style="width:35px;opacity:0.7">
            <div>
                Soy un Restaurante
            </div>
        </ion-item>

    </div>


    <div style="height:20px"></div>

    <div
        style="margin:15px;margin-bottom:30px;border: 1px solid #bbb;border-radius:10px;position:relative;padding:15px">
        <div style="position:absolute;top:-15px;left:0;width:100%;display:flex;justify-content:center">
            <div style="background:white;padding:5px;width:150px;text-align:center;color:#666;font-weight:600">
                Navegar
            </div>
        </div>
        <ion-item>
            <img slot="start" src="assets/food-truck.svg" style="width:35px;opacity:0.7;">
            <div>
                Continuar con Google Maps
            </div>
        </ion-item>
        <ion-item>
            <img slot="start" src="assets/restaurant.svg" style="width:35px;opacity:0.7">
            <div>
                Continuar con Waze
            </div>
        </ion-item>
    </div>


    <div style="margin:15px;border: 1px solid #bbb;border-radius:10px;position:relative;padding:15px">
        <div style="position:absolute;top:-15px;left:0;width:100%;display:flex;justify-content:center">
            <div style="background:white;padding:5px;width:150px;text-align:center;color:#666;font-weight:600">
                Posición exacta
            </div>
        </div>
        <ion-item>
            <img slot="start" src="assets/food-truck.svg" style="width:35px;opacity:0.7;">
            <div>
                Ver punto
            </div>
        </ion-item>
    </div>



</ion-content>


<ion-footer style="background:white">
    <div
        style="padding:15px;font-size:18px;background:#9EDF1F;display:flex;align-items:center;justify-content:space-between">
        <div
            style="background:#7AC602;border-radius:5px;padding:5px;font-size:15px;display:flex;align-items:center;color:#fff;">
            <ion-icon name="time" style="color:#fff;margin-right:2px;font-size:18px;"></ion-icon>
            15min
        </div>
        <div (click)="confirmar_envio()" style="width:100%;text-align:center;font-weight:500;color:white;">
            Confirmar envío
        </div>
        <div style="color:#fff">
            $1400
        </div>
    </div>
</ion-footer>