<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de envíos</ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" value="completados" color="dark">
    <ion-segment-button value="completados">
      <ion-label>Pedidos anteriores</ion-label>
    </ion-segment-button>
    <ion-segment-button value="proximos">
      <ion-label>Próximos</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <div *ngFor="let pedido of pedidos" style="padding:15px;margin:15px;border-radius:10px;border:1px solid #eee">
    <div style="width:100%">
      <div style="width:100%;display:flex;justify-content:space-between">
        <div style="color:#666;text-transform:capitalize">
          {{pedido.fecha_creacion}}
        </div>
        <div *ngIf="pedido.activo" style="color:limegreen">
          Activo
        </div>
        <div *ngIf="pedido.cancelado" style="color:red">
          Cancelado
        </div>
      </div>
      <div style="width:100%;display:flex;justify-content:space-between">
        <div style="color:#666">
          Costo del servicio
        </div>
        <div style="color:#666">
          ${{pedido.costo}}
        </div>
      </div>
    </div>

    <div style="margin-top:10px;display:flex;align-items:center">
      <div style="display:flex;flex-direction:column;align-items:center">
        <ion-icon name="radio-button-on" style="font-size:18px;color:#bbb"></ion-icon>
        <div style="height:30px;margin-top:5px;margin-bottom:5px;border:1px dashed #bbb"></div>
        <ion-icon name="pin" style="font-size:18px;color:#bbb"></ion-icon>
      </div>
      <div style="margin-left:20px">
        <div>
          <div style="color:#777;font-size:13px">
            RECOGIDA
          </div>
          <div style="color:#555;font-weight:500;font-size:14px;height:17px;overflow:hidden">
            {{pedido.origen.direccion}}
          </div>
        </div>
        <div style="margin-top:13px">
          <div style="color:#777;font-size:13px">
            ENTREGA
          </div>
          <div style="color:#555;font-weight:500;font-size:14px;height:17px;overflow:hidden">
            {{pedido.destino.direccion}}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="tipo == 'proximos'" (click)="openPedido(pedido._id)"
      style="border-top:1px solid #eee;padding:10px;padding-bottom:0px;margin-top:15px;width:100%;display:flex;justify-content:flex-end">
      <div style="color:dodgerblue;font-weight:500;font-size:13px;text-transform:uppercase">
        Ver mapa
      </div>
    </div>

  </div>

</ion-content>




<div *ngIf="isLoading"
  style="z-index:999;position:fixed;top:0px;left:0px;height:100%;width:100%;display:flex;align-items:center;justify-content:center;background:rgb(34, 34, 34, 0.5)">
  <div
    style="box-shadow: 0 0 20px rgba(68, 68, 68, 0.75);padding:30px;padding-top:20px;padding-bottom:20px;width:80%;border-radius:3px;background:white;">
    <div style="width:100%;display:flex;align-items:center">
      <ion-spinner color="secondary"></ion-spinner>
      <div style="margin-left:20px;font-size:17px;margin-right:10px">
        Cargando...
      </div>
    </div>
  </div>
</div>