<!-- <ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="omitir()">
        <ion-icon slot="icon-only" name="close" style="color:#444;font-size:27px"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div
    style="margin-top:10px;padding:20px;padding-left:50px;padding-right:50px;font-size:20px;font-weight:700;color:#444;text-align:center">
    ¡Pedido completado! ¿Cómo estuvo tu Rider?
  </div>

  <div style="width:100%;display:flex;justify-content:center">
    <div style="position:relative">
      <img [src]="rating?.rider.img.url"
        style="width:80px;height:80px;border-radius:50%;object-fit:cover;border:4px solid #eee">
      <div style="position:absolute;bottom:-10px;right:-30px;background:white;border-radius:50%">
        <img *ngIf="rating?.rider.vehiculo == 'Moto'" src="assets/moto.png" style="width:50px">
        <img *ngIf="rating?.rider.vehiculo == 'Bicicleta'" src="assets/bici.png" style="width:50px">
      </div>
    </div>
  </div>

  <div style="margin-top:5px;width:100%;color:#444;text-align:center">
    {{rating.rider.nombre}}
  </div>


  <div style="margin-top:10%;width:100%;display:flex;justify-content:center">
    <div style="display:flex;justify-content:center">
      <ion-icon (click)="starts = 1" *ngIf="starts >= 1" name="star" class="start"></ion-icon>
      <ion-icon (click)="starts = 1" *ngIf="starts < 1" name="star-outline" class="start"></ion-icon>
      <ion-icon (click)="starts = 2" *ngIf="starts >= 2" name="star" class="start"></ion-icon>
      <ion-icon (click)="starts = 2" *ngIf="starts < 2" name="star-outline" class="start"></ion-icon>
      <ion-icon (click)="starts = 3" *ngIf="starts >= 3" name="star" class="start"></ion-icon>
      <ion-icon (click)="starts = 3" *ngIf="starts < 3" name="star-outline" class="start"></ion-icon>
      <ion-icon (click)="starts = 4" *ngIf="starts >= 4" name="star" class="start"></ion-icon>
      <ion-icon (click)="starts = 4" *ngIf="starts < 4" name="star-outline" class="start"></ion-icon>
      <ion-icon (click)="starts = 5" *ngIf="starts >= 5" name="star" class="start"></ion-icon>
      <ion-icon (click)="starts = 5" *ngIf="starts < 5" name="star-outline" class="start"></ion-icon>
    </div>
  </div>

  <div style="margin-top:40px;margin-bottom:10px;width:100%;text-align:center;color:#999;font-size:14px">
    Toca para comenzar a evaluar
  </div>

  <div style="width:100%;height:5px;border-top:1px solid #eee;margin-top:60px"></div>
  <ion-item lines="none" style="margin-top:0px">
    <ion-icon slot="start" name="chatboxes" style="color:#bbb"></ion-icon>
    <ion-input placeholder="Deja un comentario (Opcional)"  [(ngModel)]="comentario"></ion-input>
  </ion-item>




</ion-content>

<ion-footer no-border style="padding:15px">
  <ion-button (click)="calificar()" color="secondary" expand="block" mode="ios">
    Enviar calificación
  </ion-button>
</ion-footer> -->




<ion-content>

  <div style="padding:20px">
    <div style="width:100%;display:flex;justify-content:center">
      <img [src]="rider.img.url" style="height:60px;width:60px;border-radius:50%;object-fit:cover">
    </div>

    <div style="width:100%;margin-top:10px;font-size:18px;color:#444">
      ¿Cómo estuvo tu servicio con
      <span style="text-transform:capitalize">{{rider.nombre}}?</span>
    </div>

    <div style="height:20px;width:100%"></div>

    <div style="width:100%;display:flex;justify-content:center">
      <ion-icon (click)="starts = 1" *ngIf="starts >= 1" name="star" class="start"></ion-icon>
      <ion-icon (click)="starts = 1" *ngIf="starts < 1" name="star-outline" class="start"></ion-icon>
      <ion-icon (click)="starts = 2" *ngIf="starts >= 2" name="star" class="start"></ion-icon>
      <ion-icon (click)="starts = 2" *ngIf="starts < 2" name="star-outline" class="start"></ion-icon>
      <ion-icon (click)="starts = 3" *ngIf="starts >= 3" name="star" class="start"></ion-icon>
      <ion-icon (click)="starts = 3" *ngIf="starts < 3" name="star-outline" class="start"></ion-icon>
      <ion-icon (click)="starts = 4" *ngIf="starts >= 4" name="star" class="start"></ion-icon>
      <ion-icon (click)="starts = 4" *ngIf="starts < 4" name="star-outline" class="start"></ion-icon>
      <ion-icon (click)="starts = 5" *ngIf="starts >= 5" name="star" class="start"></ion-icon>
      <ion-icon (click)="starts = 5" *ngIf="starts < 5" name="star-outline" class="start"></ion-icon>
    </div>

    <div style="height:20px;width:100%"></div>

    <div style="margin-top:10px;font-size:16px;color:#999;border-bottom:1px solid #eee;padding-bottom:2px">
      Agregar nota
    </div>

    <div style="height:20px;width:100%"></div>

    <div style="width:100%;display:flex;justify-content:flex-end;font-size:15px;color:#3880ff">
      <div (click)="omitir()" style="margin-right:25px">
        OMITIR
      </div>
      <div (click)="calificar()">
        ENVIAR
      </div>
    </div>

  </div>

</ion-content>